Options -Indexes

<IfModule mod_rewrite.c>
    RewriteEngine On
    # Block access to upload folder directly
    RewriteRule ^uploads/ - [F,L]
    RewriteRule ^backups/ - [F,L]
    
    # Route everything to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]
</IfModule>